.contact {
  font-family: $font-family-default;

  .contact-header {
    margin: rem(0) rem(-50);
  }

  .contact-form {
    margin: rem(100) 0;

    .title {
      color: $primaryColor;
      line-height: rem(32);
      font-size: rem(32);
      font-weight: $fontBold;
    }

    .information-container {
      margin-top: rem(30);
      padding: rem(30);
      background: rgba(228 228 228 / 28%);

      .title {
        font-size: rem(22);
        font-weight: $fontBold;
        color: #000000;
        margin-bottom: rem(20);
      }
    }
  }
}
